In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [ ]:
df.company.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mitsubishi',
       'nissan', 'porsche', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [ ]:
# avtolar soni nechtadanligini kõramiz
df.company.value_counts()

company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
isuzu            3
jaguar           3
porsche          3
dodge            2
volvo            2
Name: count, dtype: int64

In [ ]:
# hamma kompaniyalarni avtolarni õrtacha qiymatini bilmoqchimiz
# Faqat raqamli ustunlarni tanlash
numeric_cols = df.select_dtypes(include=['number']).columns

# Raqamli ustunlar bo'yicha o'rtacha qiymatni hisoblash
df.groupby('company')[numeric_cols].mean()

,wheel-base,length,horsepower,average-mileage,price
company,,,,,
alfa-romero,90.566667,169.600000,125.333333,20.333333,15498.333333
audi,101.200000,180.800000,109.250000,20.000000,16392.500000
bmw,103.433333,185.033333,144.833333,19.000000,27213.333333
chevrolet,92.466667,151.933333,62.666667,41.000000,6007.000000
dodge,93.700000,157.300000,68.000000,31.000000,6303.000000
honda,96.500000,167.200000,92.333333,26.333333,10195.000000
isuzu,94.433333,160.833333,72.666667,33.333333,6785.000000
jaguar,109.333333,196.966667,204.666667,14.333333,34600.000000
mazda,95.900000,164.260000,75.400000,28.000000,9654.800000
mercedes-benz,113.225000,197.275000,153.500000,18.000000,35040.000000
mitsubishi,95.000000,164.850000,78.000000,29.500000,6689.000000
nissan,95.680000,170.140000,82.800000,31.400000,8289.000000
porsche,92.466667,171.166667,234.000000,17.000000,35528.000000
toyota,96.957143,167.571429,75.428571,28.714286,8216.857143
volkswagen,97.300000,171.700000,72.250000,31.750000,8435.000000
volvo,104.300000,188.800000,114.000000,23.000000,13177.500000

In [ ]:
# eng qimmat mashinalarni õrtacha qiymatini chiqarish
df.groupby('company').max()

,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
company,,,,,,,,
alfa-romero,hatchback,94.5,171.2,ohcv,six,154,21,16500.0
audi,wagon,105.8,192.7,ohc,four,115,24,18920.0
bmw,sedan,110.0,197.0,ohc,six,182,23,41315.0
chevrolet,sedan,94.5,158.8,ohc,three,70,47,6575.0
dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
honda,wagon,96.5,175.4,ohc,four,101,30,12945.0
isuzu,sedan,94.5,170.7,ohc,four,78,38,6785.0
jaguar,sedan,113.0,199.6,ohcv,twelve,262,15,36000.0
mazda,sedan,104.9,175.0,rotor,two,101,31,18344.0
mercedes-benz,wagon,120.9,208.1,ohcv,five,184,22,45400.0
mitsubishi,sedan,96.3,172.4,ohc,four,88,37,8189.0
nissan,wagon,100.4,184.6,ohcv,six,152,45,13499.0
porsche,hatchback,98.4,175.7,ohcf,six,288,17,37028.0
toyota,wagon,104.5,187.8,ohc,six,156,35,15750.0
volkswagen,sedan,97.3,171.7,ohc,four,100,37,9995.0
volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [ ]:
# Avtolarni kompaniyasi bõyicha guruhlash va narhi bõyicha eng qimmatini chiqarib berish
df.groupby('company').price.max()

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [ ]:
# Guruhlashda bir nechta ustun bõyicha guruhlash
df.groupby(['company', 'body-style']).price.mean() # õrtacha narhi

company        body-style
alfa-romero    convertible    14997.500000
               hatchback      16500.000000
audi           sedan          15550.000000
               wagon          18920.000000
bmw            sedan          27213.333333
chevrolet      hatchback       5723.000000
               sedan           6575.000000
dodge          hatchback       6303.000000
honda          sedan          11645.000000
               wagon           7295.000000
isuzu          sedan           6785.000000
jaguar         sedan          34600.000000
mazda          hatchback       7482.500000
               sedan          18344.000000
mercedes-benz  hardtop        45400.000000
               sedan          33256.000000
               wagon          28248.000000
mitsubishi     hatchback       5789.000000
               sedan           7589.000000
nissan         sedan           8524.000000
               wagon           7349.000000
porsche        convertible    37028.000000
               hardtop        34028.000000
               hatchback               NaN
toyota         hatchback       6058.000000
               wagon           9836.000000
volkswagen     sedan           8435.000000
volvo          sedan          12940.000000
               wagon          13415.000000
Name: price, dtype: float64

agg - funksiyasi yordamida bir nechta funksiyalarni kõrsatish mumkin

In [ ]:
numeric_cols = df.select_dtypes(include=['number']).columns
df.groupby('company')[numeric_cols].agg(['min', 'max', 'mean'])

              wheel-base                    length                     \
                     min    max        mean    min    max        mean
company
alfa-romero         88.6   94.5   90.566667  168.8  171.2  169.600000
audi                99.4  105.8  101.200000  176.6  192.7  180.800000
bmw                101.2  110.0  103.433333  176.8  197.0  185.033333
chevrolet           88.4   94.5   92.466667  141.1  158.8  151.933333
dodge               93.7   93.7   93.700000  157.3  157.3  157.300000
honda               96.5   96.5   96.500000  157.1  175.4  167.200000
isuzu               94.3   94.5   94.433333  155.9  170.7  160.833333
jaguar             102.0  113.0  109.333333  191.7  199.6  196.966667
mazda               93.1  104.9   95.900000  159.1  175.0  164.260000
mercedes-benz      110.0  120.9  113.225000  190.9  208.1  197.275000
mitsubishi          93.7   96.3   95.000000  157.3  172.4  164.850000
nissan              94.5  100.4   95.680000  165.3  184.6  170.140000
porsche             89.5   98.4   92.466667  168.9  175.7  171.166667
toyota              95.7  104.5   96.957143  158.7  187.8  167.571429
volkswagen          97.3   97.3   97.300000  171.7  171.7  171.700000
volvo              104.3  104.3  104.300000  188.8  188.8  188.800000

              horsepower                  average-mileage                 \
                     min  max        mean             min max       mean
company
alfa-romero          111  154  125.333333              19  21  20.333333
audi                 102  115  109.250000              18  24  20.000000
bmw                  101  182  144.833333              15  23  19.000000
chevrolet             48   70   62.666667              38  47  41.000000
dodge                 68   68   68.000000              31  31  31.000000
honda                 76  101   92.333333              24  30  26.333333
isuzu                 70   78   72.666667              24  38  33.333333
jaguar               176  262  204.666667              13  15  14.333333
mazda                 68  101   75.400000              17  31  28.000000
mercedes-benz        123  184  153.500000              14  22  18.000000
mitsubishi            68   88   78.000000              25  37  29.500000
nissan                55  152   82.800000              19  45  31.400000
porsche              207  288  234.000000              17  17  17.000000
toyota                62  156   75.428571              19  35  28.714286
volkswagen            52  100   72.250000              26  37  31.750000
volvo                114  114  114.000000              23  23  23.000000

                 price
                   min      max          mean
company
alfa-romero    13495.0  16500.0  15498.333333
audi           13950.0  18920.0  16392.500000
bmw            16430.0  41315.0  27213.333333
chevrolet       5151.0   6575.0   6007.000000
dodge           6229.0   6377.0   6303.000000
honda           7295.0  12945.0  10195.000000
isuzu           6785.0   6785.0   6785.000000
jaguar         32250.0  36000.0  34600.000000
mazda           5195.0  18344.0   9654.800000
mercedes-benz  25552.0  45400.0  35040.000000
mitsubishi      5389.0   8189.0   6689.000000
nissan          6649.0  13499.0   8289.000000
porsche        34028.0  37028.0  35528.000000
toyota          5348.0  15750.0   8216.857143
volkswagen      7775.0   9995.0   8435.000000
volvo          12940.0  13415.0  13177.500000